# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfplan
crash.log

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
*.log

# Reports
drift-detector/reports/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Secrets
*.pem
*.key
config.local.yaml
